@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aworcester\/Documents\/Personal\/angular-workshop\/app\/scss\/main\.scss}line{font-family:\000031}}
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aworcester\/Documents\/Personal\/angular-workshop\/app\/scss\/main\.scss}line{font-family:\000037}}
html > div, body > div {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aworcester\/Documents\/Personal\/angular-workshop\/app\/scss\/main\.scss}line{font-family:\0000312}}
* {
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aworcester\/Documents\/Personal\/angular-workshop\/app\/scss\/main\.scss}line{font-family:\0000316}}
.new-item {
  width: 100%;
  background-color: #EEE;
  padding: 20px;
  margin: 0;
  box-shadow: 0 -5px 10px 10px #CCC;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aworcester\/Documents\/Personal\/angular-workshop\/app\/scss\/main\.scss}line{font-family:\0000323}}
.new-item h2 {
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aworcester\/Documents\/Personal\/angular-workshop\/app\/scss\/main\.scss}line{font-family:\0000328}}
.item-list {
  width: 100%;
  padding: 20px 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aworcester\/Documents\/Personal\/angular-workshop\/app\/scss\/main\.scss}line{font-family:\0000335}}
.item-list ul {
  list-style-type: none;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aworcester\/Documents\/Personal\/angular-workshop\/app\/scss\/main\.scss}line{font-family:\0000339}}
.item-list ul li {
  font-size: 18px;
  padding: 10px 22px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aworcester\/Documents\/Personal\/angular-workshop\/app\/scss\/main\.scss}line{font-family:\0000343}}
.item-list ul li:nth-child(even) {
  background-color: #EEE;
}
