
/* line 65 : /Users/aworcester/Documents/Personal/angular-workshop/app/styl/main.styl */

/* line 2 : /Users/aworcester/Documents/Personal/angular-workshop/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 9 : /Users/aworcester/Documents/Personal/angular-workshop/app/styl/main.styl */
html,
body {
  padding: 0;
  margin: 0;
  color: #777;
}

/* line 15 : /Users/aworcester/Documents/Personal/angular-workshop/app/styl/main.styl */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19 : /Users/aworcester/Documents/Personal/angular-workshop/app/styl/main.styl */
.new-item {
  background-color: #9db8e1;
  padding: 20px;
  margin: 0;
  box-shadow: 0 -5px 10px 10px #ccc;
}

/* line 25 : /Users/aworcester/Documents/Personal/angular-workshop/app/styl/main.styl */
.new-item h2 {
  color: #fff;
  margin-top: 0;
}

/* line 31 : /Users/aworcester/Documents/Personal/angular-workshop/app/styl/main.styl */
.item-list {
  padding: 30px 0;
  margin: 0;
}

/* line 35 : /Users/aworcester/Documents/Personal/angular-workshop/app/styl/main.styl */
.item-list ul {
  list-style-type: none;
  padding: 0;
}

/* line 39 : /Users/aworcester/Documents/Personal/angular-workshop/app/styl/main.styl */
.item-list ul li {
  font-size: 18px;
  padding: 10px 22px;
  border-top: 1px solid #dde6f5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 46 : /Users/aworcester/Documents/Personal/angular-workshop/app/styl/main.styl */
.item-list ul li:nth-child(even) {
  background-color: #f5f8fc;
}

/* line 50 : /Users/aworcester/Documents/Personal/angular-workshop/app/styl/main.styl */
.item-list ul li:last-child {
  border-bottom: 1px solid #dde6f5;
}

/* line 54 : /Users/aworcester/Documents/Personal/angular-workshop/app/styl/main.styl */
.item-list ul li:hover {
  color: #fff;
  background-color: #9db8e1;
}

/* line 59 : /Users/aworcester/Documents/Personal/angular-workshop/app/styl/main.styl */
.item-list ul li.done {
  text-decoration: line-through;
  color: #ccc;
  background-color: #f0f0f0;
}
