<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Workshop</title>
    <link rel="stylesheet" href="css/vendor/normalize.css">
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/vendor/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="EL">

    <div class="new-item" ng-controller="NewItemController">
        <h2>Add New Item</h2>
        <input ng-model="model.newItemName" enter-pressed="action.addNewItem()" />
    </div>

    <div class="item-list" ng-controller="ItemListController">
        <ul>
            <li ng-repeat="item in model.itemList">{{ item }}</li>
        </ul>
    </div>

    <!-- Vendor Scripts -->
    <script src="js/vendor/angular.js"></script>
    <script src="js/vendor/angular-route.js"></script>

    <!-- Project Scripts -->
    <script src="js/app.js"></script>

    <script src="js/directives/enterPressed.js"></script>
    <script src="js/controllers/newItem.js"></script>
    <script src="js/controllers/itemList.js"></script>

</body>
</html>